@use '~design' as *;

.c-badge {
  display: inline-block;
  padding: get-padding('tiny') get-padding('small');
  font-size: px-rem(12);
  font-weight: 700;
  color: get-color('white');
  text-decoration: none;
  text-transform: uppercase;
  background-color: get-color('foreground');
  border-radius: get-border-radius('little');
  transition: get-transition('normal');

  &:hover {
    color: get-color('white');
    background-color: get-color('primary');
  }

  .is-disabled & {
    color: get-color('grey-900');
    background-color: get-color('grey-100');
  }
}
