@use '~design' as *;

.c-post-card {
  display: flex;
  flex-direction: column;
  gap: get-gap('normal');
  width: 100%;
  padding: get-padding('normal');
  background-color: get-color('white');
  border: 1px solid get-color('grey-100');
  border-radius: get-border-radius('small');
}
