<div class="o-layout {{ bem('c-product-linked', linked_type|default('related')) }}">
  {% if linked_title %}
  <div class="o-layout__item">
    <h2 class="c-product-linked__title">{{ linked_title }}</h2>
  </div>
  {% endif %}

  <div class="{{ bem('o-layout__item', (sidebar.content ? '8' : '12') ~ '-large') }}">
    <div class="c-product-linked__items {{ grid_classnames|default(bem('o-grid', 'cols-1', 'cols-2-small', 'cols-3-medium')) }}">
      {% for post in linked_products %}
        {% include "woocommerce/content-product.twig" with {post: post} %}
      {% endfor %}
    </div>
  </div>
</div>
