<header id="header" class="c-header o-wrapper">
  <div class="c-header__inner o-wrapper__inner">
    {% block header_logo %}
      {% include 'components/logo.twig' %}
    {% endblock %}

    {% block header_nav %}
      {% include 'components/main-nav.twig' %}
    {% endblock %}
  </div>
</header>
