{#
In order to convert the grid into a list, remove the o-grid--cols classes from the c-posts-items element, leaving only the o-grid--cols-1 class and add the "c-posts-items--list" modifier class to the c-posts-items element.
In order to covert back to a grid, add the following classes to the c-posts-items element: o-grid--cols-2-small o-grid--cols-{% if sidebar %}2{% else %}3{% endif %}-medium
#}

{% extends "base.twig" %}

{% block content %}
  <section class="o-wrapper__inner c-blog">
    {% block the_title %}
      {% include 'components/the-title.twig' %}
    {% endblock %}

    {% block before_loop %}

    {% endblock %}

    <div class="o-layout">
      <div class="{{ bem('o-layout__item', (sidebar.content ? '8' : '12') ~ '-large') }}">
        <div class="c-posts-items {{ bem('o-grid', 'cols-1', 'cols-2-small', (sidebar.content ? 'cols-2' : 'cols-3') ~ '-medium') }} js-load-more-container">
          {% block posts %}
            {% if posts is not empty %}
              {% for post in posts %}
                {% include ['components/' ~ post.post_type ~ '-item.twig', 'components/post-item.twig'] with {post: post} only %}
              {% endfor %}
            {% else %}
              {% include 'components/no-results.twig' %}
            {% endif %}
          {% endblock %}
        </div>

        {% block pagination %}
          {% include 'components/pagination.twig' with {type: 'load-more'} %}
        {% endblock %}
      </div>

      {% if sidebar.content %}
        {% block sidebar %}
          {% include 'sidebar-blog.twig' %}
        {% endblock %}
      {% endif %}
    </div>

    {% block after_loop %}
    {% endblock %}
  </section>
{% endblock %}

