@use '~design' as *;
@use 'sass:meta';

.editor-styles-wrapper {
  @include meta.load-css('../blocks/core-spacer');

  .wp-block-spacer {
    background-color: get-color('grey-100');

    .components-resizable-box__container {
      display: none;
    }
  }
}
