@use 'mnt-settings' as *;

// ==================================================
// Slider effect
// ==================================================
.c-main-nav__toggle--slider,
.c-main-nav__toggle--slider-r {
  .c-main-nav__toggle-inner {
    top: calc($hamburger-layer-height / 2);

    &::before {
      top: $hamburger-layer-height + $hamburger-layer-spacing;
      transition-timing-function: ease;
      transition-duration: 0.15s;
      transition-property: transform, opacity;
    }

    &::after {
      top: ($hamburger-layer-height * 2) + ($hamburger-layer-spacing * 2);
    }
  }

  &.is-active {
    .c-main-nav__toggle-inner {
      $y-offset: $hamburger-layer-spacing + $hamburger-layer-height;

      transform: translate3d(0, $y-offset, 0) rotate(45deg);

      &::before {
        opacity: 0;
        transform: rotate(-45deg)
          translate3d(calc($hamburger-layer-width / -7), $hamburger-layer-spacing * -1, 0);
      }

      &::after {
        transform: translate3d(0, $y-offset * -2, 0) rotate(-90deg);
      }
    }
  }
}

.c-main-nav__toggle--slider-r {
  &.is-active {
    .c-main-nav__toggle-inner {
      $y-offset: $hamburger-layer-spacing + $hamburger-layer-height;

      transform: translate3d(0, $y-offset, 0) rotate(-45deg);

      &::before {
        transform: rotate(45deg)
          translate3d(calc($hamburger-layer-width / 7), $hamburger-layer-spacing * -1, 0);
      }

      &::after {
        transform: translate3d(0, $y-offset * -2, 0) rotate(90deg);
      }
    }
  }
}
