@use 'sass:map';
@use 'sass:list';
@use '../settings/icon-settings' as *;
@use '../settings/' as *;

@mixin icon-svg($name, $multicolor: false, $animated: false) {
  display: block;
  height: 1em;
  line-height: 1em;
  content: '';

  $icons-path: '../../assets/icons';
  $icon-path: null;

  @if $use-icons-module {
    $icon-path: '#{$icons-path}/icons.svg#icon-#{$name}-view';
  } @else {
    $icon-path: '#{$icons-path}-source/#{$name}.svg';
  }

  @if $multicolor {
    @if list.index($multicolor-icons, $name) {
      background-image: url($icon-path);
    }

    background-repeat: no-repeat;
    background-size: contain;
  } @else {
    background-color: var(--o-icon-color, currentcolor);
    @if $animated {
      @if list.index($animated-icons, $name) {
        mask: url('#{$icons-path}/animated/#{$name}.svg');
      }
    } @else {
      @if list.index($static-icons, $name) {
        mask: url($icon-path);
      }
    }

    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
  }

  @if $use-icons-module and map.has-key($o-icon-icons, 'icon-#{$name}') {
    width: map.get($o-icon-icons, 'icon-#{$name}') * 1em;
  } @else {
    width: 1em;
  }
}

@mixin icon($name, $multicolor: false, $animated: false) {
  height: 1em;
  font-size: var(--o-icon-size, 1em);
  line-height: 1em;

  &::before {
    @include icon-svg($name, $multicolor, $animated);
  }
}
