@mixin link() {
  text-decoration: underline;
  text-underline-offset: 4px;

  &:hover {
    text-decoration: none;
  }
}

@mixin link-reverse() {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
